<h3>Add a Note</h3>
  <%= form_for [@presenter.mouse, Note.new], url: notes_path(lab_id: @presenter.mouse.lab_id) do |f| %>
      <%= f.text_area :content %></br>
      <%= f.submit "Add Note", :class => 'card-button'%>
  <% end %>
