<h1 class='card-title'>Edit Mouse #<%=@mouse.lab_id %></h1>

<div class="dropdown-container">
  <div class='dropdown-card'>
    <div class='align-card'>
      <%= render partial: 'mouse_form' %>
    </div>
  </div>
</div>
