<h1>All Mice</h1>

<div class='mouse-house'>
  <% @mice.each do |mouse| %>
    <div class='index-mouse'><%= link_to "#{mouse.original_id}", mouse_path(mouse.original_id) %></div>
    <div class='favorite-mouse-icon'><%= image_tag('favorite_mouse_icon.svg') %></div>
  <% end %>
</div>
