<h1 class='mice-index-header'>All Mice</h1>

<div class='mouse-house'>
  <% @mice.each do |mouse| %>
    <div class='index-mouse'><%= link_to "#{mouse.original_id}", mouse_path(mouse.original_id) %>
      <%= image_tag('favorite_mouse_icon.png', size: "25x25", class: 'favorite_mouse_icon') %>
    </div>
  <% end %>
</div>
