<h1 class='card-title'>Add a Mouse</h2>

<div class="dropdown-container">
  <div class='dropdown-card'>
    <div class='align-card'>
      <%= render partial: 'mouse_form' %>
    </div>
  </div>
</div>
