.chart-container  {
  height: 100%;
  background-color: $cararra;
  padding: 15px;
  margin-top: 50px;
}

.chart-form  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: $roboto_slab;

  label  {
    margin-right: 10px;
  }

  select {
    margin-right: 15px;
  }

}

.chart-selection-container  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: $roboto;
  color: $roof_terracotta;

  #ploidyOne  {
    margin-right: 10px;
    margin-left: 3px;
  }

  #dietOne  {
    margin-left: 3px;
  }

  #ploidyTwo  {
    margin-right: 10px;
    margin-left: 3px;
  }

  #dietTwo  {
    margin-left: 3px;
  }
}

#query  {
  margin-top: 25px;
  margin-left: 650px;
  margin-bottom: 50px;
}
