.chart-header-container  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  margin-top: 50px;
  font-family: $roboto_slab;

  #group-one-header  {
    position: relative;
    left: 34px;
    z-index: -1;
  }

  #group-two-header {
    position: relative;
    left: 117px;
    z-index: -1;
  }

  #data-header  {
    position: relative;
    left: 135px;
    z-index: -1;
  }

  #chart-type-header  {
    position: relative;
    left: 62px;
    z-index: -1;
  }
}

.chart-selection-container  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: $roboto;
  color: $roof_terracotta;

  #ploidyOne  {
    margin-right: 10px;
    margin-left: 3px;
  }

  #dietOne  {
    margin-left: 3px;
  }

  #ploidyTwo  {
    margin-right: 10px;
    margin-left: 3px;
  }

  #dietTwo  {
    margin-left: 3px;
  }
}

#query  {
  margin-top: 25px;
  margin-left: 650px;
  margin-bottom: 50px;
}
