.unfavorited  {
  padding-top: 3px;
}


#container  {
  width: 100%;
  padding-top: 20px;

  h2, h3  {
    font-weight: bold;
    font-family: $roboto_slab;
  }

  h3  {
    margin-top: 75px;
  }
}

#left {
  float: left;
  width: 50%;
  text-align: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

#attributes-tab {
  width: 80%;
  text-align: center;
  margin-left: 73px;
  margin-bottom: 10px;
  border: solid 2px black;
  background-color: $roof_terracotta;

  button {
    color: $cararra;
    font-family: $roboto_slab;
  }

  button:hover  {
    color: black;
    background-color: $oslo_gray;
  }
}
