#right  {
  float: right;
  width: 50%;
  text-align: center;

  .note {
    padding-left: 25px;
    border: 1px solid black;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: $cararra;
  }

  textarea {
    border-radius: 5px;
    width: 60%;
    height: 200px;
    padding: 5px;
    font-size: 16px;
  }

  .note-content {
    font-family: $roboto;
    font-size: 16px;
  }

  .note-details {
    font-family: $roboto;
    font-size: 12px;
    font-weight: bold;
    color: $roof_terracotta;
    margin-bottom: 10px;
  }

  .card-button  {
    margin-top: 10px;
  }
}

#note-save  {
  display: inline-block;
  font-size: 12px;
  font-family: $roboto_slab;
  margin-top: 8px;

  a:link  {
    text-decoration: none;
    color: $roof_terracotta;
  }

  a:visited {
    text-decoration: none;
    color: $roof_terracotta;
  }
}

.saved-note-header  {
  font-family: $roboto_slab;

  a:link  {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: $roof_terracotta;
  }
}

.note-container   {
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

.note-stamp {
  font-size: 12px;
}
