table, th, td {
   border: 1px solid black;
}

th, td {
    padding: 4px;
    text-align: center;
}

table {
    width: 75%;
    margin-left: 16px;
    margin-right: 16px;
    margin: auto;
}

.mouse-attributes-table  {
  margin-bottom: 90px;
}

.mouse-harvest-data {
  margin-bottom: 90px;
  display: none;

  th  {
    width: 50%;
  }
}

th {
    height: 40px;
    margin-left: 16px;
    margin-right: 16px;
    font-family: sans-serif;
    background-color: $oslo_gray;
}

td  {
  font-family: $roboto;
  background-color: $cararra;
}
