<div class='container'>
  <div class='card'>
    <%= image_tag('du_logo.png', class: 'du-logo' ) %>
    <h2 class='card-title'>Knoebel Institute for Healthy Aging</h2>
    <h3 class='card-title' id='tracker-title'>Lab Mouse Tracker</h3>
      <% if !current_user %>
        <div class="welcome-options">
          <%= link_to 'Create Account', new_user_path, class: "welcome-create-account" %>
          <%= link_to 'Log In', login_path, class: "welcome-login" %>
        </div>
      <% end %>
  </div>
</div>
