<div class='welcome'>
  <div class='welcome-card'>
    <h1 class='welcome-title'>Welcome to Mouse Tracker!</h1>
      <%= link_to 'Create Account', new_user_path, class: "welcome-create-account" %>
      <%= link_to 'Log In', login_path, class: "welcome-login" %>
  </div>
</div>
