.container  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 50px;
  padding-bottom: 20px;
  border: 2px solid pink;
  width: 40%;
  box-shadow: 10px 10px 8px $oslo_gray;
}

.card-title  {
  text-align: center;
}

.card-form {
  text-align: center;
}
