.google-button {
  background: white;
  display: inline-flex;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  padding-right: 5px;
  margin-bottom: 12px;

  a:link  {
    text-decoration: none;
    color: $black;
  }

  a:visited {
    text-decoration: none;
    color: $black;
  }
}

.google-logo {
  display: inline-block;
  padding: 5px 5px 5px 5px;
}

.button-text {
  display: inline-block;
  padding: 6px 5px 5px 5px;
  font-size: 14px;
  font-weight: bold;
}
