.success  {
  font-family: $roboto_slab;
  padding: 5px;
  background-color: #90EE90;
}

.error  {
  font-family: $roboto_slab;
  padding: 5px;
  background-color: #FF6961;
}

.welcome  {
  font-family: $roboto_slab;
  font-size: 50px;
  padding-left: 10px;
}
