.success  {
  font-family: $roboto_slab;
  padding: 5px;
  background-color: #92B558;
}

.error  {
  font-family: $roboto_slab;
  padding: 5px;
  background-color: #DC4C46;
}

.welcome  {
  font-family: $roboto_slab;
  font-size: 50px;
  padding-left: 10px;
}
