body { margin: 0; }

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $roof_terracotta;
}

.nav-bar-item {
  display: inline-block;
  font-family: $roboto_slab;
  font-size: 16px;

  a:link {
    text-decoration: none;
    color: white;
    font-family: $roboto;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }
}

.nav-search {
  width: 60%;
  text-align: center;
  height: 60%;
  border-radius: 5px;
  font-family: $roboto;
  padding-top: 1px;
}


#nav-image  {
  padding-left: 20px;
}

#nav-login  {
  padding-right: 20px;
}

.spacer {
  height: 75px;
}
