.button_badge {
  background-color: $white;
  border-radius: 4px;
  color: $black;
  font-weight: bolder;
  font-family: $roboto_slab;
  border: 1px solid $black;

  padding: 1px 4px;
  font-size: 10px;

  position: absolute;
  top: 20px;
  right: 172px;
  z-index: 2;
}

#notificationBtn  {
  position: absolute;
  top: 22px;
  right: 180px;
  z-index: 1;
  padding: 0px;
  background-color: $roof_terracotta;
  border: 0px;
}
