.mice-index-header {
  text-align: center;
}

.mouse-house  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.index-mouse  {
  list-style-type: none;
  height: 50px;
  width: 50px;
  border: solid 2px pink;
  padding: 7px;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.favorite_mouse_icon  {
  margin-top: 4px;
}
