$roboto: 'Roboto Condensed', sans-serif;
$roboto_slab: 'Roboto Slab', serif;
$roof_terracotta: #A11C2E;
$oslo_gray: #909193;
$cararra: #ECEBE8;
$black: #000000;
$white: #FFFFFF;

@import 'nav/nav_bar';
@import 'nav/dropdown';
@import 'mice/all_mice';
@import 'accounts/welcome';
@import 'accounts/cards';
@import 'accounts/google_button';
@import 'mice/mouse_show';
@import 'mice/table';
@import 'accounts/new_account';
@import 'mice/notes';
@import 'mice/my_subjects';
@import 'nav/flash';
@import 'mice/analytics'
