.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-card {
  margin-top: 50px;
  padding-bottom: 20px;
  border: 2px solid pink;
  width: 60%;
  box-shadow: 10px 10px 8px $oslo_gray;
}

.welcome-title  {
  text-align: center;
}
.welcome-create-account {
  float: right;
  padding-right: 150px;
}

.welcome-login  {
  float:left;
  padding-left: 150px;
}
