<div class='footer'>
  <div class = 'footer-title'>
    Contact Site Administrator
  </div>
  <div class = 'footer-questions'>
    <%= mail_to "aziobrow@gmail.com", "Questions", subject: "Lab Mouse Tracker Question" %>
  </div>
  <div class = 'footer-feedback'>
    <%= mail_to "aziobrow@gmail.com", "Feedback", subject: "Lab Mouse Tracker Question" %>
  </div>
  <div class = 'footer-report-bug'>
    <%= mail_to "aziobrow@gmail.com", "Report a Bug", subject: "Lab Mouse Tracker Question" %>
  </div>
</div>
