.dropbtn {
    background-color: $roof_terracotta;
    color: white;
    font-size: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    float: right;
    font-family: $roboto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#profileMenu  {
  display: none;
}

#protocolMenu  {
  display: none;
  position: fixed;
  top: 77px;
  left: 518px;
}

#manageMenu  {
  display: none;
  position: fixed;
  top: 77px;
  left: 260px;
}

#notificationMenu   {
  display: none;
  position: absolute;
  right: 100px;
  top: 75px;
}

#protocolMenuBtn  {
  margin-top: 7px;
}

#profileMenuBtn  {
  margin-top: 7px;
}

#notificationBtn  {
  cursor: pointer;
}

#manageMenuBtn  {
  margin-top: 7px;
}


.dropdown-content {
    position: absolute;
    background-color: $oslo_gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 57px;
    width: 175px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid black;
    text-align: center;
}
